.scrollctx {
  position: relative;
  z-index: 1;
  padding-right: 10px !important;
}
.slideBarY {
  display: none;
  position: absolute;
  right: 2px;
  top: 0;
  z-index: 10;
  height: 100%;
  width: 6px;
  border-radius: 4px;
  background: #fff;
  opacity: 0.8;
  cursor: pointer;
}
.slideBarY.active {
  display: block;
}
.slideBarY .sliderY {
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 112px;
  border-radius: 4px;
  background: #0082CA;
}
.slideBarY .sliderY.animate {
  transition: transform 0.3s;
}
.inBox.animate {
  transition: transform 0.3s;
}
