* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #fff;
  color: #212121;
  font: 12px/1.5 'microsoft yahei', Verdana, Arial, 'simsun';
}
a {
  text-decoration: none;
  color: #212121;
}
a.important-link {
  color: #0082ca;
}
.mouse-hover:hover {
  text-decoration: underline;
  color: #0082ca;
}
a {
  color: inherit;
}
html,
body {
  height: 100%;
}
.wrap {
  position: relative;
  height: 100%;
  overflow: auto;
  background: #f5f5f5;
}
.password-wrap {
  box-sizing: border-box;
  min-width: 1380px;
  padding: 58px 50px 28px;
  font-size: 16px;
}
.password-wrap .pw-nav {
  margin: 27px 8px;
  color: #888888;
}
.password-wrap .pw-nav span {
  color: #0082ca;
}
.password-wrap .pw-main {
  padding: 28px 26px;
  background: #fff;
  color: #888888;
  text-align: center;
}
.password-wrap .pw-main div {
  margin: 28px 0;
}
.password-wrap .pw-main div p {
  display: inline-block;
  margin: 0 0 0 -3em;
}
.password-wrap .pw-main div p:after {
  content: '';
  display: block;
  clear: both;
}
.password-wrap .pw-main div p span {
  float: left;
  line-height: 34px;
  width: 5em;
  padding: 0 8px 0 0;
  text-align: right;
}
.password-wrap .pw-main div p input {
  width: 400px;
  line-height: 32px;
  height: 32px;
  padding: 0 12px;
  border: 1px solid #888888;
  color: inherit;
}
.password-wrap .pw-main .pw-action {
  margin: 60px 0 0;
}
.password-wrap .pw-main .pw-action button {
  width: 180px;
  line-height: 38px;
  margin: 0 10px;
  font-size: 16px;
  font-family: inherit;
  border: 1px solid #0082ca;
  border-radius: 2px;
  cursor: pointer;
}
.password-wrap .pw-main .pw-action button.pw-sure {
  background: #0082ca;
  color: #fff;
}
.password-wrap .pw-main .pw-action button.pw-cancal {
  background: #fff;
  color: #0082ca;
}
