@import url(judgeCommon.css);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  background: #fff;
  color: #212121;
  font: 12px/1.5 'microsoft yahei', Verdana, Arial, 'simsun';
}
a {
  text-decoration: none;
  color: #212121;
}
a.important-link {
  color: #0082ca;
}
.mouse-hover:hover {
  text-decoration: underline;
  color: #0082ca;
}
a {
  color: inherit;
}
html,
body {
  background: #f5f5f5;
}
.main {
  padding: 0 0 15px;
}
.main .ctx {
  position: relative;
  padding: 0 12px 15px;
  border-radius: 5px;
  background: #fff;
  font-size: 14px;
  color: #888888;
}
.main .ctx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 55px;
  background: #27a4f2;
}
.main .ctx .list {
  position: relative;
  z-index: 10;
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.main .ctx .list .item {
  display: table-row;
  border-bottom: 1px dashed #ccc;
  text-align: center;
}
.main .ctx .list .item.title {
  height: 55px;
  border: none;
  background: #27a4f2;
  color: #fff;
  font-size: 16px;
}
.main .ctx .list .item:last-of-type {
  border-bottom: 1px solid #ccc;
}
.main .ctx .list .item span {
  display: table-cell;
  padding: 12px 0;
  vertical-align: middle;
}
.main .ctx .list .item span a {
  text-decoration: underline;
}
